{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 pt-5 background-hero">
            <div class="col-12 col-md-12 my-auto text-center">
                <h1 class="display-5 text-white caption-background">
                    Our team restore and sell furniture.
                </h1>
                <h1 class="display-5 text-white caption-background fade-in-text">
                  We can also help you with your restoration project.
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn text-uppercase py-3 mr-2">Shop Now</a>
                        <a href="{% url 'product_quote_add' %}" class="quote-now-button btn text-uppercase py-3 ml-2">Get a Quote</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>  
    <h1 class="text-center mb-3 mt-5 p-1">Our Crafters</h1>
    <h4 class="text-center mb-5">Meet our carpenters, cabinet makers and upholsterers.</h4>
    <div class="container marketing">
        <!-- Five columns below the hero -->
        
        <h1 class="text-center mb-3 mt-5 mb-5 p-1">What Our Customers Say</h1>
        
        {% for r in reviews_list %}
          {% if r.active == "Y" %}
            <p class="mb-3 mt-3 text-center font-italic">"{{ r.comment }}"</p>
          {% endif %}
        {% endfor %}
        
{% endblock %}

