<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item ">By Crafter</a>
                <a href="" class="dropdown-item ">By Source</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Living
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=sofas" class="dropdown-item">Sofas</a>
                <a href="{% url 'products' %}?category=shelving_bookcases" class="dropdown-item">Shelving &amp; Book Cases</a>
                <a href="{% url 'products' %}?category=side_tables" class="dropdown-item">Side Tables</a>
                <a href="{% url 'products' %}?category=shelving_bookcases,sofas,side_tables" class="dropdown-item">All Living</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dining
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">Chairs</a>
                <a href="{% url 'products' %}?category=dining_set" class="dropdown-item">Table &amp; Chairs</a>
                <a href="{% url 'products' %}?category=side_boards" class="dropdown-item">Side Boards</a>
                <a href="{% url 'products' %}?category=side_boards,dining_set,chairs" class="dropdown-item">All Dining</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bedroom
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">+
                <a href="{% url 'products' %}?category=beds" class="dropdown-item">Beds</a>
                <a href="{% url 'products' %}?category=wardrobes" class="dropdown-item">Wardrobes</a>
                <a href="{% url 'products' %}?category=dressing_tables" class="dropdown-item">Dressing Tables</a>
                <a href="{% url 'products' %}?category=bedside_tables" class="dropdown-item">Bedside Tables</a>
                <a href="{% url 'products' %}?category=bedside_tables,dressing_tables,wardrobes,beds" class="dropdown-item">All Bedroom</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Commercial
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">Chairs</a>
                <a href="{% url 'products' %}?category=sofas" class="dropdown-item">Sofas</a>
                <a href="{% url 'products' %}?category=side_boards" class="dropdown-item">Side Boards</a>
                <a href="{% url 'products' %}?category=shelving_bookcases" class="dropdown-item">Shelving &amp; Book Cases</a>
                <a href="{% url 'products' %}?category=shelving_bookcases,chairs,sofas,side_boards" class="dropdown-item">All Commercial Sales</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

    </ul>
</div>