<!DOCTYPE html>

{% load static %}

<html lang="en">

  <head>
    {% block meta %}
        <title>Furniture Restoration Collective | Buy Restored Furniture | Your Furniture Restored {% block extra_title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description"
        content = "We sell restored furniture throughout Ireland.  We can also help with your restoration project.  
        We repair and restore chairs, tables, sofas and bedroom furniture.">
        <meta name="keywords"
        content = "furniture restoration, restore and sell furniture, furniture repair ireland, repair damaged furniture, 
        furniture restoration services, reupholster furniture, cost of reupholstering, 
        vintage furniture restoration, antique furniture restoration, furniture restoration project,
        furniture repair and restoration">
        
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/classic-071822.css"  type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/f87b736ead.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>   
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

  </head>
  
  <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h3 class="logo-font text-black my-0">Furniture <strong>Restoration </strong>Collective</h3>
                </a>
            </div>
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
                <ul class="list-unstyled d-flex align-items-center justify-content-end">
                    <li class="list-inline-item">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group">
                                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                                <div class="input-group-append">
                                    <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" aria-labelledby="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg fa-sm"></i></div>
                                <p class="my-0">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" id="user-options" >
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'list_products' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-cart-shopping fa-lg fs-sm"></i></div>
                                <p class="my-0">&#8364;
                                    {% if grand_total %}
                                        {{ grand_total|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center bg-ebony">
            <div class="col text-white">
                <h5 class="my-2">Free delivery across Ireland on orders over €{{ free_delivery_threshold }}!</h5>                
            </div>            
        </div>
    </header>
          
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    

    <footer class="bg-ebony text-white mt-5">
        <!-- Grid container -->
        

        <div class="container p-4 pb-0 align-items-center">
            <!-- Section: Form -->
            <section class="" >
                            <!-- Begin Mailchimp Signup Form -->
                <div class="row">
                    <div class="col-12 page-header mb-4">
                        <h3 class="text-uppercase text-center">Stay in touch with us</h3>
                        <hr class="block-divider block-divider--short">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-5 offset-md-1 mb-5">
                        <h4 class="mb-2">Social</h4>
                        <p>Find out more about us, our crafters, and our products.</p>
                            <!-- Facebook -->
                            <a
                            class="btn text-white btn-floating m-1"
                            style="background-color: #3b5998;"
                            href="https://www.facebook.com/"
                            role="button" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)"
                            ><i class="fab fa-facebook-f"></i
                            ></a>
                            <!-- Pinterest -->
                            <a
                            class="btn text-white btn-floating m-1"
                            style="background-color: #55acee;"
                            href="https://www.pinterest.com/"
                            role="button" target="_blank" rel="noopener"
                            aria-label="Visit our Pinterest page (opens in a new tab)"
                            ><i class="fab fa-pinterest"></i
                            ></a>
                            <!-- Instagram -->
                            <a
                            class="btn text-white btn-floating m-1"
                            style="background-color: #ac2bac;"
                            href="https://www.instagram.com/"
                            role="button" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)"
                            ><i class="fab fa-instagram"></i
                            ></a>
                            <div class="mt-5">
                                <h4>Contact</h4>
                                <!-- Phone -->
                                <i class="fa-solid fa-phone mr-1"></i>
                                <a href="tel:353-1-1324354657" class="text-white">+353 1 1324354657</a>
                                <!-- Email -->
                                <i class="fa-solid fa-envelope ml-3 mr-1"></i>
                                <a href="mailto:furniturerestorationcollective@gmail.com" target="_blank" rel="noopener noreferrer" class="text-white">furniturerestorationcollective@gmail.com</a>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 bg-ebony">
                        <h4>Subscribe!</h4>
                        <p>We will send you all the latest news and some great offers!</p>
                        <div id="mc_embed_signup" class="bg-ebony pl-0 col-6">
                            <form action="https://herokuapp.us11.list-manage.com/subscribe/post?u=3e49cb8f5abd3f1ad0b6172f4&amp;id=8a84f45b80&amp;f_id=001a9ae0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div class="row d-flex bg-ebony">
                                    <div id="mc_embed_signup_scroll"  class="bg-ebony p-0">
                                        
                                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                        <div class="mc-field-group">
                                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text bg-ebony"></span>
                                        </div>
                                        <div id="mce-responses" class="clear foot">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3e49cb8f5abd3f1ad0b6172f4_8a84f45b80" tabindex="-1" value=""></div>
                                        <div class="optionalParent">
                                                <div class="clear foot">
                                                <input class="btn bg-saffron text-uppercase border-0 text-black font-weight-bold ml-0 mr-1 mt-0" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                                                <p class="brandingLogo"><a href="http://eepurl.com/ipgVi2" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="mailchimp branding logo dark text"></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                    </div>
                </div>
                
            </section>
            
            <div>
                <p class="mb-4 mt-4 text-center font-italic text-white">We are members of the <a href="https://www.dcci.ie/" target="_blank" rel="external">Design and Craft Council of Ireland.</a></p>
            </div>
          <!-- Section: Form -->
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white">TBowe</a>
        </div>
        <!-- Copyright -->
      </footer>

    {% block postloadjs %}
        <script>
            $('.toast').toast('show');
        </script>
        <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                
    {% endblock %}
    
  </body>
</html>