{% load static %}

<!doctype html>
<html lang="en">

  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Furniture Restoration Collective | Buy Restored Furniture | Your Furniture Restored</title>
        <meta name="description"
        content = "We sell restored furniture throughout Ireland.  We can also help with your restoration project.  
        We repair and restore chairs, tables, sofas and bedroom furniture.">
        <meta name="keywords"
        content = "furniture restoration, restore and sell furniture, furniture repair ireland, repair damaged furniture, 
        furniture restoration services, reupholster furniture, cost of reupholstering, 
        vintage furniture restoration, antique furniture restoration, furniture restoration project,
        furniture repair and restoration">
        
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/f87b736ead.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
                        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>   
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Furniture Restoration Collective {% block extra_title %}{% endblock %}</title>
  </head>
  
  <body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h3 class="logo-font text-black my-0">Furniture <strong>Restoration </strong>Collective</h3>
                </a>
            </div>
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled d-flex align-items-center justify-content-end">
                    <li class="list-inline-item">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group">
                                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                                <div class="input-group-append">
                                    <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'list_products' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                <p class="my-0">&#8364;
                                    {% if grand_total %}
                                        {{ grand_total|floatformat:2 }}
                                    {% else %}
                                        0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center bg-ebony">
            <div class="col text-white">
                <h5 class="my-2">Free delivery across Ireland on orders over €{{ free_delivery_threshold }}!</h5>                
            </div>            
        </div>
    </header>
          
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    <footer class="bg-silver text-center text-white mt-5">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Form -->
            <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                  <h5 class="pt-2">Newsletter Signup</h5>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4 text-light">
                    <input type="email" id="form5Example29" class="form-control" placeholder="email address"/>
                  </div>
                </div>
                <!--Grid column-->
      
                <!--Grid column-->
                <div class="col-auto">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
            </section>
            <section class="mb-4">
                <!-- Facebook -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #3b5998;"
                  href="https://www.facebook.com/profile.php?id=100091862172437"
                  role="button" target="_blank" rel="noopener"
                  aria-label="Visit our Facebook page (opens in a new tab)"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <!-- Pinterest -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #55acee;"
                  href="https://www.pinterest.com/"
                  role="button" target="_blank" rel="noopener"
                  aria-label="Visit our Pinterest page (opens in a new tab)"
                  ><i class="fab fa-pinterest"></i
                ></a>
                <!-- Instagram -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #ac2bac;"
                  href="https://www.instagram.com/"
                  role="button" target="_blank" rel="noopener"
                  aria-label="Visit our Instagram page (opens in a new tab)"
                  ><i class="fab fa-instagram"></i
                ></a>
            </section>
            <section class="mb-4">
                <!-- Phone -->
                <i class="fa-solid fa-phone mr-1"></i>
                <a href="tel:353-1-1324354657" class="text-white">+353 1 1324354657</a>
                <!-- Email -->
                <i class="fa-solid fa-envelope ml-3 mr-1"></i>
                <a href="mailto:furniturerestorationcollective@gmail.com" target="_blank" rel="noopener noreferrer" class="text-white">furniturerestorationcollective@gmail.com</a>
            </section>
                <p class="font-italic text-white">We are members of the <a href="https://www.dcci.ie/" target="_blank" rel="external" class="text-black">Desgn and Craft Council of Ireland.</a></p>
            <section class="mb-4">

            </section>
          <!-- Section: Form -->
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white">TBowe</a>
        </div>
        <!-- Copyright -->
      </footer>

    {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
    {% endblock %}
    
  </body>
</html>