{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
<div class="overlay"></div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Review</title>
</head>

<body>
<h2>Product Review</h2>
    <div class="row">
        <div class="col-md-8 mt-3 mb-5 offset-md-2">
            <form method="POST" action="{% url 'review_products' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-right">
                    <a class="btn btn-select-white rounded" href="{% url 'profile' %}">Cancel</a>
                    <button class="btn btn-select-taupe rounded" type="submit">Add Review</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}

